.main img {
  width: 100%;
}
.main .intro {
  width: 70%;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}
.main .intro .mainTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  text-align: center;
}
.main .intro .mainDesc {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 30px;
}
.main .intro .mainDesc .snsLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
}
.main .intro .mainDesc .snsLink a {
  cursor: pointer;
}
.main .intro .mainDesc .snsLink a:hover {
  color: yellow;
}
.main .intro .mainDesc .subDesc {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.introduce {
  padding: 200px;
  height: 950px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 150px;
}
.introduce .introImg {
  width: 100%;
  height: 100%;
  background: #eee;
}
.introduce .introInfo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 70px 20px;
}
.introduce .introInfo .introBegins {
  color: #565745;
}
.introduce .introInfo .introTitle {
  font-size: 1.7em;
  font-weight: 500;
}
.introduce .introInfo .introNum {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.introduce .introInfo .introNum .experienceNum {
  font-size: 1.8em;
}
.introduce .introInfo .learnmore {
  width: 35%;
  padding: 20px 50px;
  border: 1px solid #000;
  border-radius: 50px;
  text-align: center;
}