@import url(./reset.css);

    header{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        border-bottom: 1px solid #333;
        /* position: fixed; */
        .logo{
            img{
                width: 150px;
                height: 70px
            }
        }
        .header_menu ul{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70px;
            font-size: 16px;
            gap: 40px;
        }
    }
    main{
        img{
            width: 100%;
            height: 100vh;
        }
        .main_desc{
            font-size: 70px;
            font-weight: bold;
            color: white;
            top: 300px;
            left: 50px;
            position: absolute;
        }
    }
    .preview{
        padding: 80px;
        .preview_mainttl{
            font-size: 20px;
            font-weight: bold;
            display: flex;
            justify-content: center;
        }
        .preview_subttl{
            font-size: 30px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            padding: 50px;
        }
        .preview_box{
            display: flex;
            justify-content: space-around;
            .preview_box1{
                img{
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                }
                .preview_desc{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding: 30px;
                    text-align: center;
                    .preview_desc_title{
                        font-weight: bold;
                    }
                }
            }
            .preview_box2{
                img{
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                }
                .preview_desc{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding: 30px;
                    text-align: center;
                    .preview_desc_title{
                        font-weight: bold;
                    }
                }
            }
            .preview_box3{
                img{
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                }
                .preview_desc{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding: 30px;
                    text-align: center;
                    .preview_desc_title{
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .invest{
        position: relative;
        margin: 30px auto;
        width: 100%;
        height: 350px;
        img{
            width: 100%;
            height: 350px;
            padding: 50px auto;
            position: absolute;
        }
        .invest_desc{
            color: white;
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 100px;
            right: 100px;
            gap: 30px;
            .invest_subttl{
                font-size: 20px;
                font-weight: bold;
            }
            .invest_mainttl{
                font-size: 30px;
                font-weight: bold;
            }
            .invest_button{
                width: 200px;
                height: 50px;
                background: transparent;
                color: white;
                font-size: 16px;
                border: 2px solid white;
            }
        }
    }
    .share{
        display: flex;
        justify-content: center;
        gap: 80px;
        padding: 100px;
        img{
            width: 600px;
            height: 400px;
        }
        .share_desc{
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: #222;
            .share_subdesc{
                font-weight: bold;
                font-size: 20px;
            }
            .share_maindesc{
                font-weight: bold;
                font-size: 30px;
                line-height: 40px;
            }
            .share_button{
                width: 200px;
                height: 50px;
                background: transparent;
                font-size: 16px;
                border: 1px solid #222;
            }
        }
    }
    .location{
        display: flex;
        padding: 100px;
        gap: 70px;
        img{
            width: 800px;
            height: 600px;
        }
        .location_desc{
            display: flex;
            flex-direction: column;
            gap: 50px;
            color: #222;
            .location_subdesc{
                font-size: 20px;
                font-weight: bold;
            }
            .location_maindesc{
                font-size: 30px;
                font-weight: bold;
                line-height: 40px;
            }
            .location_button{
                width: 200px;
                height: 50px;
                background: transparent;
                border: 1px solid #000;
                font-size: 18px;
            }
        }
    }
    .symbol{
        position: relative;
        padding: 70px;
        display: flex;
        flex-direction: column;
        gap: 90px;
        background: #eee;
        .symbol_1{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 150px;
            .sym{
                width: 180px;
                height: 180px;
                border-radius: 50%;
                background: #222;
                color: white;
                text-align: center;
                padding: 50px;
                i{
                    font-size: 40px;
                }
                .sym_desc{
                    font-size: 10px;
                    padding-top: 10px;
                }
            }
        }
        .symbol_2{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 150px;
            .sym{
                width: 180px;
                height: 180px;
                border-radius: 50%;
                background: #222;
                color: white;
                text-align: center;
                padding: 50px;
                i{
                    font-size: 40px;
                }
                .sym_desc{
                    font-size: 10px;
                    padding-top: 10px;
                }
            }
        }
    }
    .footer{
        position: relative;
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 330px;
        background: #000;
        color: white;
        padding: 30px;
        padding-top: 80px;
        .footer1{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .footer1_1{
                font-weight: bold;
            }
            .footer1_2{
                border: 1px solid #fff;
                width: 130px;
                height: 50px;
                text-align: center;
                line-height: 50px;
            }
            .footer1_3{
                border: 1px solid #fff;
                width: 130px;
                height: 50px;
                text-align: center;
                line-height: 50px;
            }
        }
        .footer2{
            .footer2_1{
                font-weight: bold;
            }
            .footer2_2{
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding-top: 10px;
                .footer2_2_4{
                    color: white;
                    padding-top: 5px;
                }
            }
        }
        .footer3{
            display: flex;
            flex-direction: column;
            gap: 5px;
            .footer3_2{
                font-weight: bold;
            }
        }
        .footer4{
            color: darkgray;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .footer4_1{
                line-height: 25px;
            }
        }
        .footer5{
            line-height: 30px;
            p{
                color: yellow;
            }
        }
    }
    
  