* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Ftistory1.daumcdn.net%2Ftistory%2F4370431%2Fattach%2F5ae261786032422f91cccd8fc094036b") center/cover no-repeat;
}
body .noti {
  text-align: center;
  color: crimson;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border: 4px solid crimson;
  border-radius: 8px;
  font-size: bold 14px/1.4 "arial";
  display: none;
}
body .container {
  width: 300px;
  height: 200px;
  background: rgba(65, 105, 225, 0.8);
  color: #fff;
  padding: 16px;
  border: 4px solid #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .current-weather {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body .container .current-weather img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}
body .container .current-weather .temp {
  font: bold 20px/1 "arial";
}
body .container .current-weather .info {
  display: flex;
  gap: 20px;
}