@charset "UTF-8";
@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap");
.container {
  height: 800px;
}

.blog-section {
  height: 800px;
}

/*헤더영역*/
.header {
  position: relative;
  padding: 18px 5px;
}

.header .logo {
  float: left;
}

.header .logo {
  float: left;
}

.header .logo a {
  font-size: 26px;
  color: #fff;
  font-weight: normal;
}

/*ul css*/
.header .gnb {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 10%;
  top: 100%;
  background-color: transparent;
  border: 1px solid #f1e5f1;
  border-radius: 15px;
  width: 90%;
  height: 50px;
  margin: 50px;
  margin-top: 10px;
}

.header .gnb li a {
  display: inline-block;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  color: #fff;
  padding-top: 5px;
}
.header .gnb li a:hover {
  color: #fae268;
}

/*first*/
.slider img {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 100vh;
}

#plane {
  position: absolute;
  font-size: 80px;
  top: 300px;
  left: 40%;
  transform-origin: center 650px;
  animation: ani 20s linear infinite;
}

/*sticky-element*/
.sticky-element {
  position: sticky;
  top: 200px;
  right: 100px;
}
.sticky-element img {
  width: 50px;
  margin-left: 90%;
}

/*second*/
.second {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 80px;
  margin-top: 100px;
  padding-bottom: 150px;
  background: #f9f5f9;
  border-radius: 20px;
}

.promo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.promo-list img {
  width: 250px;
  height: 300px;
  border-radius: 20px;
}
.promo-list li {
  text-align: center;
}
.promo-list li:hover {
  transform: translateY(-20px);
}

/*third*/
.third {
  background: #ffe2b7;
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
  padding-bottom: 50px;
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 200px;
  border-radius: 20px;
}
.blog-list img {
  width: 400px;
  height: 600px;
  border-radius: 20px;
}
.blog-list .image-container {
  position: relative;
}
.blog-list .image-description {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  margin-bottom: 5px;
  opacity: 0;
  transition: opacity 0.5s;
}
.blog-list .image-container:hover .image-description {
  opacity: 1;
}

/*fourth*/
.fourth {
  background: #ab9a8a;
  border-radius: 20px;
}
.fourth .fourth_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.fourth .minimal {
  width: 100%;
  height: 80vh;
}
.fourth .minimal .minimal_video {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fourth .minimal .minimal_video .videobox1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 200px;
  padding: 100px;
}
.fourth .minimal .minimal_video .videobox2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 200px;
}
.fourth .minimal video {
  width: 400px;
  height: 200px;
  border-radius: 20px;
}

/*fifth*/
.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 200px;
}
.blog-list img {
  width: 400px;
  height: 600px;
  border-radius: 20px;
}
.blog-list video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 400px;
  height: 600px;
  border-radius: 20px;
}
.blog-list .image-container {
  position: relative;
}
.blog-list .image-description {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.5s;
}
.blog-list .image-container:hover .image-description {
  opacity: 1;
}
.blog-list .video-container {
  position: relative;
  height: 600px;
}

/*footer*/
footer {
  width: 100%;
  height: 200px;
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.footer_name {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

/*mobile*/
@media screen and (max-width: 1490px) and (min-width: 360px) {
  #app_container {
    width: 100%;
  }
  .container {
    height: 2000px;
  }
  .fourth {
    height: 2000px;
  }
  .fourth video {
    padding-right: 100px;
  }
  .fourth .fourth_1 {
    display: flex;
    flex-wrap: wrap;
  }
  /*ul css*/
  .header .gnb {
    position: absolute;
    display: none;
    justify-content: center;
    gap: 10%;
    top: 100%;
    background-color: transparent;
    border: 1px solid #f1e5f1;
    border-radius: 15px;
    width: 90%;
    height: 50px;
    margin: 50px;
    margin-top: -30px;
  }
  .header .gnb li a {
    display: none;
  }
  /*toggle*/
  .header .menu-toggle-btn {
    float: right;
    width: 20px;
    /* margin-top: 10px; */
    padding-bottom: 10px;
    cursor: pointer;
  }
  .header .menu-toggle-btn span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #66472a;
  }
  .header .menu-toggle-btn span:nth-child(2) {
    margin: 5px 0;
  }
  footer {
    padding-top: 5px;
  }
  .footer_name {
    display: flex;
    flex-direction: column;
  }
}
@keyframes ani {
  0% {
    opacity: 0;
    transform: rotate(-90deg);
  }
  25% {
    opacity: 1;
    transform: rotate(-30deg);
  }
  50% {
    opacity: 1;
    transform: rotate(30deg);
  }
  75% {
    opacity: 0;
    transform: rotate(90deg);
  }
  100% {
    opacity: 0;
    transform: rotate(-90deg);
  }
}